.skills{
    background-color: lightcyan;

    .top{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 10%;
    }
    .bottom{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    h1{
        margin-top: 10px;
        text-align: center;
    }
}